html {
	font-family: Helvetica;
	font-weight: thin;
	background-color: #1A1A1A;
}

form {
	margin: auto;
	width: 586px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	text-align: right;
}

span.hint {
	font-size: 8px;
}

a {
	color: white;
	text-decoration: none;
}

a#logins {
	background-color: lightgray;
	padding: 5px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

title {
	fill: white;
	text-anchor: middle;
}

.node {
    fill: #ccc;
    stroke-width: 0px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

input#repo-url {
	color: #CCC;
	background-color: #1A1A1A;
	padding: 3px;
	text-align: center;
	font-size: 18px;
	width: 100%;
	outline: none;
	border: 0px;
	border-bottom: 3px solid #CCC;
	margin-bottom: 5px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
