form {
	margin: auto;
	width: 200px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

.label {
	fill: black;
	text-anchor: center;
}
