html {
	font-family: Helvetica;
	font-weight: thin;
	background-color: #1A1A1A;
}

form {
	margin: auto;
	width: 586px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	text-align: right;
}

span.hint {
	font-size: 8px;
}

a {
	color: white;
	text-decoration: none;
}

a#logins {
	background-color: lightgray;
	padding: 5px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

text {
	fill: white;
	text-anchor: middle;
}

.node {
    fill: #ccc;
    stroke-width: 0px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

input#repo-url {
	padding: 3px;
	text-align: center;
	font-size: 18px;
	width: 100%;
	outline: none;
	border: 0px;
	border-bottom: 3px solid black;
	margin-bottom: 5px;
}
